.center__container {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
    font-family: 'Lato' , sans-serif;
}
.center__title{
    max-width: 652px;
    margin:  0 auto;
    padding: 77px 0 85px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
     text-align: center;
    color: #331A2F;
}
.center__flex-one {
display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin: 0 0 5px 0;
 max-width: 995px;
}
.center__text{
    margin: 85px 0 0 0;
    max-width: 563px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: rgba(51, 26, 47, 0.8);
    text-align: left;
    letter-spacing: 0.3px;
}
.center__flex-second {
    display: flex;
    max-width: 995px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 140px 0;
}
.center__discription{
max-width: 582px;
font-weight: 400;
font-size: 20px;
line-height: 160%;
color: rgba(51, 26, 47, 0.8);
margin: 60px 0 0 0;
p{
    margin: 0 0 15px 0;
    text-align: left;
    letter-spacing: 0.3px;
}
}