.center__container  
    .center__title Небольшая предыстория о том, почему нам можно доверять
    .center__flex-one   
        img(src="./assets/imgs/mobile.png", alt="picture").center__img
        .center__text Свой путь в бизнесе мы начали в 2016 г. У нас были свои островные магазины в крупных ТЦ Москвы («Европейский», «Метрополис», «Мега» и др.), а также свой интернет  -магазин. Мы накопили большой опыт в продвижении своих товаров за счет многочисленных запусков разных рекламных каналов и работы с блогерами.
    .center__flex-second  
            .center__discription    
                p  Летом 2019 года мы вышли на маркетплейсы и после работы с ними в течение 2 месяцев приняли решение развивать только это направление. И не прогадали. Весь накопленный опыт мы направили на улучшение и продвижение наших брендов.
                p Пришло время поделится знаниями и лайфхаками, которые будут собраны и доступны в нашей Академии stat4market.
            img(src="./assets/imgs/laptop.png", alt="picture").center__img