header.header
    img(src="./assets/imgs/circle.png", alt="logo").header.circle 
    .header__container
        .header__list   
            img(src="./assets/imgs/logo.png", alt="logo").header__logo
            .header__starlogo  stat<b>4</b>market
            .header__line 
            .header__text 
                p Надежный сервис 
                p аналитики для поставщиков 
                p на маркетплейсы 
            select
                option(value="") Аналитика 
                option(value="") Аналитика  
                option(value="") Аналитика 
            .header__study 
                a(href="#")  Обучение
            img(src="./assets/imgs/tel.png", alt="tel").header__tele 
            .header__tel 8 (499) 450-31-41
            .header.btn 
                img(src="./assets/imgs/marks.png", alt="enter")
                a(href="#")  Войти
            .header__menu