.main__container
    .main__subtitle Главная  -  Обучение
    .main__flex
        .main__text
            .main__title <b>Обучающие курсы</b> для поставщиков на маркетплейсы
            .main__price
                img(src="./assets/imgs/spent.png", alt="price").main__box
                img(src="./assets/imgs/rubles.png", alt="money").main__rubles
            .main__discription 
                p Обучающие курсы по работе и продвижению на маркетплейсах от <br /> практикующих селлеров
                p Добро пожаловать в Академию. Это место для эффективного обучения, где <br /> мы рассказываем, как работают маркетплейсы и никогда не вдаемся в<br /> теорию, которая не понадобится на практике.
                p  Наши уроки помогут понять логику работы площадок и взять управление продажами в свои руки, а не действовать наугад. Становись экспертом в <br /> работе с маркетплейсами и увеличивай свою прибыль.
        .main__img 
           img(src="./assets/imgs/Superman.png ", alt="superman").main__foto
           img(src="./assets/imgs/stars.png", alt="stars").main__stars