include ../mixins/study-item.pug
.study__container 
    .study__title Обучение по продажам на маркетплейсах от stat<b>4</b>market
    .study__subtitle «Увеличение реальной прибыли, конкретика и ключевые инструменты, которые дают результат» — на этом тезисе созданы наши курсы
    .study__row 
        +study-item('./assets/imgs/Icon-one.png','Наше обучение построено очень лаконично и просто','Все занятия короткие по продолжительности для легкого восприятия и понимания. Мы даем в уроках только конкретику, без лишней теории и “воды”.')
        +study-item('./assets/imgs/icon-sec.png','Ко всем урокам есть дополнительные материалы','Презентации, краткие инструкции, чек-листы и памятки по работе с маркетплейсами.')
        +study-item('./assets/imgs/Icon-three.png','Наше обучение — практико-ориентированное','Поэтому после прохождения уроков ты будешь выполнять задания, которые помогут тебе закрепить полученные знания на практике.')
        +study-item('./assets/imgs/Icon-four.png','Создатели нашей Академии','Действующие селлеры с большим опытом в продажах на маркетплейсах, эксперты компании stat4market, а также профессиональные лекторы и методологи.')